/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  color: inherit;
  display: inline-block;
  background-color: transparent;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

$orangeColor: #f88500;
$grayColor: #333333;
$darkColor: #202328;
$blackColor: #171a1a;

body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  &._lock {
    overflow: hidden;
  }
}
.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-weight: 800;
  font-size: 29px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
}
.section-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: $orangeColor;
}
.button {
  display: inline-block;
  min-height: 44px;
  background: $orangeColor;
  transition: all 0.3s ease 0s;
  border-radius: 0px 5px;
  font-weight: 800;
  font-size: 14px;
  line-height: 145%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 12px 30px;
  &:hover {
    background: #b35f00;
    transition: all 0.3s ease 0s;
  }
}
.header {
  z-index: 10;
  position: absolute;
  min-width: 100%;
  height: 100px;
  @media (max-width: 577px) {
    height: 65px;
  }
  font-weight: 500;
  &__container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    max-width: 1150px;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    @media (max-width: 577px) {
      height: 65px;
    }
  }

  &__logo {
    @media (max-width: 993px) {
      order: 1;
    }
    margin-right: 10px;
    z-index: 5;
  }

  &__social {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  &__burger {
    @media (max-width: 993px) {
      cursor: pointer;
      position: relative;
      z-index: 5;
      display: block;
      width: 40px;
      height: 30px;
      order: 3;
      span,
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background: #fff;
      }
      &::before,
      &::after {
        content: "";
      }
      &::before {
        top: 0px;
      }
      &::after {
        bottom: 0px;
      }
      span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
      }

      /*ANIMATION*/

      &._active span {
        transform: scale(0) translate(0px, -50%);
      }
      &._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
      }
      &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
      }

      /*ANIMATION*/
    }
  }

  &__button {
    @media (max-width: 993px) {
      display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
    color: #fff;
    background: #2c5f7c;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 45px;
    margin-left: 10px;
  }
}

.social {
  @media (max-width: 576px) {
    display: none;
  }
  order: 2;
  z-index: 5;
  background: rgba(196, 196, 196, 0.25);
  border-radius: 70px;
  padding: 8px 15px;
  &__item {
    font-size: 24px;
    width: 20px;
    height: 23px;
    &:before {
      content: "";
      transition: 0.3s all ease 0s;
      color: #fff;
    }
    &:hover {
      &::before {
        color: $orangeColor;
      }
    }
  }
}

.menu {
  &__body {
    @media (max-width: 993px) {
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background: #fff;
      padding: 100px 30px 30px 30px;
      transition: right 0.3s ease 0s;
      overflow: auto;
      &._active {
        &::before {
          left: 0;
          background: #000;
        }
      }
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100px;
        z-index: 2;
        top: 0;
        left: -100%;
        opacity: 0;
        background: #fafafa;
        transition: all 0.3s ease 0s;
        @media (max-width: 577px) {
          height: 65px;
        }
      }
    }
    &._active {
      right: 0;
      transition: all 0.3s ease 0s;
      &:before {
        opacity: 1;
        transition: all 0.3s ease 0s;
      }
    }
  }

  &__list {
    position: relative;
    display: flex;
    column-gap: 20px;
    > li {
      padding: 10px 0;
      @media (max-width: 993px) {
        flex-wrap: wrap;
        display: flex;
      }
    }
    @media (max-width: 993px) {
      flex-direction: column;
      row-gap: 30px;
      column-gap: 0;
      margin-top: 20px;
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s all ease 0s;
    color: #fff;
    padding: 7.5px 15px;
    background: transparent;
    border-radius: 0px 5px;
    &:hover {
      background: rgba(196, 196, 196, 0.2);
      transition: all 0.3s ease 0s;
      &:before {
      }
    }
    @media (max-width: 993px) {
      font-size: 21px;
      color: #000;
    }
  }
  //Sub-menu---------------------------//
  &__arrow {
    display: none;
  }

  &__sub-list {
    position: absolute;
    top: 100%;
    background: rgb(177, 177, 177);
    right: 0;
    padding: 20px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    transform: translate(0, 10%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    pointer-events: none;
    @media (max-width: 993px) {
      position: relative;
      flex: 1 1 100%;
      margin: 20px 0;
    }
  }

  &__sub-link {
    color: #000;
    &:hover {
      text-decoration: underline;
    }
  }

  /*---SUB--MENU---*/
  body._comp &__list > li:hover &__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 0px);
  }

  body._mobile &__arrow {
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: 5px;
    border-top: 10px solid #000;
    transition: transform 0.3s ease 0s;
  }

  body._mobile &__list li {
    display: flex;
    align-items: center;
  }

  body._mobile &__link {
    flex: 1 1 auto;
  }
  body._mobile &__list > li._active &__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translate(0px, 0px);
  }
  body._mobile &__list > li._active &__arrow {
    transform: rotate(-180deg);
  }
  /*---SUB--MENU---*/
}

.woodhouse {
  position: relative;
  color: #fff;
  &__container {
  }

  &__body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    object-fit: cover;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.4;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 58px;
    line-height: 68px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (max-width: 768px) {
      font-size: 48px;
      line-height: 60px;
    }
    @media (max-width: 577px) {
      font-size: 40px;
      line-height: 52px;
    }
  }

  &__subtitle {
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    padding: 6px 16px;
    background: $orangeColor;
    border-radius: 0px 5px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__text {
    font-family: "Raleway";
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    background: rgba(32, 35, 40, 0.9);
    border-radius: 0px 10px;
    padding: 15px 22px;
    max-width: 370px;
  }
}
.swiper {
  width: 100%;
}
.slider {
  &__wrapper {
  }

  &__slide {
  }
}
.swiper-wrapper {
}
.swiper-slide {
  position: relative;
}
.woodhouse {
  &__container {
  }

  &__body {
  }

  &__title {
  }

  &__subtitle {
  }

  &__text {
  }
}
.slider__navigation {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
  background: #202328;
  border-radius: 10px 0px 0px 0px;
  z-index: 1;
  padding: 33px 36px;
  min-height: 90px;
  width: 440px;
  @media (max-width: 993px) {
    left: 50%;
    transform: translate(-50%, 0%);
  }
  @media (max-width: 577px) {
    width: 95%;
    padding: 15px 20px;
  }
}
.swiper-pagination {
  position: static !important;
  text-align: left !important;
  width: auto !important;
  line-height: 18px;
  color: #818b9d;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  * {
    &:not(span) {
      font-size: 100px;
    }
  }
}
.swiper-pagination-current {
  font-size: 15px;
}
.swiper-pagination-slash {
  padding: 0 5px;
  font-size: 20px;
}

.swiper-scrollbar {
  position: static !important;
  text-align: center;
  width: 100% !important;
  height: 5px;
  margin: 0 40px 0 40px;
}
.slider__buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 55px;
}
.slider__arrow--left {
  position: absolute;
  color: #fff;
  font-size: 14px;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
}
.slider__arrow--right {
  position: absolute;
  color: #fff;
  font-size: 14px;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}
.swiper-button-disabled {
  color: rgb(128, 128, 128);
}

.trust {
  background: #171a1a;
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 55px 0;
    @media (max-width: 810px) {
      flex-direction: column;
    }
  }

  &__items {
    flex: 1 1 auto;
    @media (max-width: 810px) {
      margin-bottom: 40px;
    }
  }

  &__title {
    display: inline-block;
    padding-right: 60px;
    @media (max-width: 810px) {
      padding: 0 15px 15px 15px;
    }
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #6f7a8b;
    border-bottom: 1px solid #2d3038;
    padding-bottom: 15px;
  }

  &__list {
    padding-top: 15px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    @media (max-width: 1050px) {
      grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    }
    @media (max-width: 810px) {
      grid-template: repeat(4, 1fr) / 1fr;
    }
    gap: 20px 30px;
  }

  &__item {
    display: inline-block;
    @media (max-width: 810px) {
      text-align: center;
    }
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6f7a8b;
    span {
      font-weight: 700;
      font-family: "Roboto";
    }
  }

  &__callback {
  }
}
.callback {
  text-align: right;
  @media (max-width: 810px) {
    text-align: center;
  }
  max-width: 360px;
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 165%;
    color: #6f7a8b;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__number {
    display: inline-block;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 28px;
    line-height: 165%;
    text-align: right;
    color: #ffffff;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__button {
  }
}

.about {
  padding: 71px 0 83px 0;
  @media (max-width: 768px) {
    padding: 45px 0 45px 0;
  }
  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: start;
    @media (max-width: 993px) {
      flex-direction: column;
    }
  }

  &__left {
    position: relative;
    margin-right: 80px;
    padding: 15px;
    &:before {
      top: 0;
      left: 0;
      position: absolute;
      content: "";
      background: #202328;
      opacity: 0.1;
      border-radius: 0px 5px;
      width: 235px;
      height: 280px;
      display: block;
    }
    @media (max-width: 993px) {
      text-align: center;
      margin-right: 0;
    }
  }

  &__image {
    @media (max-width: 768px) {
      img {
        max-width: 100%;
      }
    }
  }

  &__age {
    position: absolute;
    bottom: 60px;
    right: -25px;
    display: inline-flex;
    align-items: center;
    padding: 18px 25px;
    background: rgba(32, 35, 40, 0.9);
    border-radius: 0px 5px;
    min-width: 240px;
    min-height: 95px;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    @media (max-width: 577px) {
      padding: 14px 20px;
      bottom: 15px;
      left: 15px;
      right: 15px;
    }
  }

  &__age-normal {
    margin-right: 10px;
    max-width: 100px;
    text-align: left !important;
  }

  &__age-big {
    font-family: "Roboto";
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #ffffff;
    margin-right: 10px;
  }

  &__right {
    @media (max-width: 993px) {
      text-align: center;
      margin-top: 35px;
    }
  }

  &__title {
    padding-bottom: 7px;
  }

  &__subtitle {
    color: $grayColor;
    padding-bottom: 30px;
    text-align: left;
    max-width: 390px;
    @media (max-width: 993px) {
      margin: 0 auto;
      text-align: center;
    }
    @media (max-width: 577px) {
      font-size: 23px;
    }
  }

  &__dots {
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: $orangeColor;
    margin-bottom: 30px;
    @media (max-width: 993px) {
      margin: 0 auto 30px auto;
    }
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background: $orangeColor;
    }
    &:before {
      left: 10px;
    }
    &:after {
      left: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: $grayColor;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    align-items: center;
    margin-top: 35px;
    @media (max-width: 1199px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      column-gap: 0px;
      row-gap: 50px;
    }
    @media (max-width: 993px) {
      row-gap: 30px;
    }
  }

  &__item {
  }
}

.item-about {
  &__header {
    display: grid;
    grid-template-columns: fit-content(60px) minmax(auto, 160px);
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e8;
    @media (max-width: 1199px) {
      grid-template-columns: fit-content(60px) minmax(auto, 1fr);
      align-items: center;
    }
    @media (max-width: 993px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 1fr);
      border-bottom: none;
    }
  }

  &__icon {
    flex: 0 1 auto;
    // @media (max-width: 993px) {
    //   flex: 1 1 auto;
    //   text-align: center;
    // }
  }

  &__title {
    font-weight: 800;
    font-size: 19px;
    line-height: 22px;
    color: $grayColor;
    padding-left: 11px;
  }

  &__info {
    @media (max-width: 993px) {
      border-bottom: 1px solid #e7e7e8;
      padding-bottom: 15px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    color: $grayColor;
    padding: 15px 0 10px 0;
  }

  &__button {
    font-weight: 800;
    font-size: 15px;
    line-height: 170%;
    color: #333333;
    &:hover {
      text-decoration: underline;
    }
  }
}

.partners {
  background: url(../img/partners/bg.png) center / cover no-repeat;
  padding: 70px 0;
  @media (max-width: 577px) {
    padding: 45px 0;
  }
  &__container {
  }

  &__body {
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    margin-top: 45px;
    column-gap: 20px;
    @media (max-width: 1170px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 45px;
    }
    @media (max-width: 577px) {
      grid-template-columns: 1fr;
      column-gap: 0;
      row-gap: 35px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__item-image {
    flex: 0 1 64px;
    &:not(:last-child) {
      margin-bottom: 30px;
      @media (max-width: 577px) {
        margin-bottom: 15px;
      }
    }
  }

  &__item-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-align: center;
    color: #ffffff;
    span {
      font-weight: 800;
      color: $orangeColor;
      @media (max-width: 1170px) {
        display: block;
      }
    }
  }
}

.blog {
  padding: 75px 0 70px 0;
  @media (max-width: 768px) {
    padding: 45px 0;
  }
  &__container {
  }

  &__body {
  }

  &__title {
    text-align: center;
    color: #333333;
  }

  &__date {
    z-index: 1;
    top: 25px;
    left: 25px;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
    background: #f88500;
    border-radius: 0px 5px;
    min-width: 65px;
    min-height: 20px;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #ffffff;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 50px 0;
    @media (max-width: 993px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr minmax(auto, 150px);
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr minmax(auto, 150px);
      column-gap: 0;
      row-gap: 20px;
      margin: 20px 0;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    border-radius: 0px 5px;
    border: 1px solid #eee;
    position: relative;
  }
  &__pages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    max-width: 95px;
    margin: 0 auto;
  }

  &__page {
    background: #e4e6e8;
    border-radius: 0px 5px;
    width: 25px;
    height: 5px;
  }
  &__page-2 {
    background: $orangeColor;
  }
}
.item-blog {
  &__image {
    position: relative;
    padding-bottom: 58.8%;
    @media (max-width: 768px) {
      padding-bottom: 45%;
    }
    // padding: 15px 15px 54.4% 15px;
    margin: 15px 15px 0 15px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    padding: 25px 25px 25px 15px;
  }

  &__title {
    display: inline-block;
    position: relative;
    font-weight: 800;
    font-size: 18px;
    line-height: 125%;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 17px;
    padding-left: 11px;
    border-left: 3px solid $orangeColor;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    padding-left: 15px;
    color: #333333;
    &:not(:last-child) {
      padding-bottom: 10px;
    }
  }

  &__button {
    font-weight: 800;
    padding-left: 15px;
    font-size: 15px;
    line-height: 170%;
    color: #333333;
    &:hover {
      text-decoration: underline;
    }
  }
}
.item-blog--link {
  @media (max-width: 993px) {
    grid-column: span 2;
  }
  @media (max-width: 768px) {
    grid-column: span 1;
  }
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/blog/overlay.png) center / cover no-repeat;
  &:hover {
    &__button {
      text-decoration: underline;
    }
  }

  &__button {
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    max-width: 180px;
  }
}

.footer {
  padding: 70px 0;
  @media (max-width: 768px) {
    padding: 45px 0;
  }
  background: #171a1a;
  &__container {
  }

  &__body {
  }

  &__items {
    display: grid;
    grid-template-rows: 1fr;
    column-gap: 22px;
    grid-template-columns: minmax(auto, 344px) minmax(auto, 170px) minmax(auto, 170px) minmax(auto, 1fr);
    @media (max-width: 993px) {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(0px, auto);
      gap: 35px 22px;
      text-align: center;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
  }

  &__item-about {
    margin-right: 13px;
    @media (max-width: 993px) {
      margin-right: 0;
    }
    .item-footer__title {
      @media (min-width: 993px) {
        padding-bottom: 0;
        &:after {
          display: none;
        }
      }
    }
  }

  &__item-menu {
  }

  &__item-services {
  }

  &__item-social {
    margin-left: 91px;
    @media (max-width: 1100px) {
      margin-left: 0;
    }
    .item-footer__text {
      &:not(:last-child) {
        margin-bottom: 35px;
      }
    }
  }
}
.item-footer {
  &__title {
    font-weight: 900;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    padding-bottom: 20px;
    @media (max-width: 993px) {
      margin-bottom: 0;
      transition: all 0.5s ease 0s;
      &._active {
        margin-bottom: 20px;
        transition: all 0.5s ease 0s;
      }
    }
    margin-bottom: 20px;
    &::after {
      position: absolute;
      content: "";
      width: 25px;
      height: 3px;
      background: #f88500;
      border-radius: 0px 5px;
      display: block;
      bottom: 0;
      left: 0;
      @media (max-width: 993px) {
        left: 50%;
        transform: translate(-50%, 0);
      }
    }
  }

  &__info {
    @media (max-width: 993px) {
      height: 100%;
    }
    @media (max-width: 768px) {
      height: auto;
    }
  }

  &__image {
    margin-bottom: 40px;
    @media (max-width: 993px) {
      margin-bottom: 20px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 170%;
    color: rgba(255, 255, 255, 0.7);
  }

  &__list {
    li {
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
  }

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    transition: all 0.3s ease 0s;
    &:hover {
      color: $orangeColor;
      transition: all 0.3s ease 0s;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 12px;
    @media (max-width: 993px) {
      justify-content: center;
    }
  }

  &__social-item {
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0px 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 19px;
    transition: all 0.3s ease 0s;
    &:hover {
      background: $orangeColor;
      color: #fff;
      transition: all 0.3s ease 0s;
      border: 1px solid transparent;
    }
  }
}

.works {
  display: grid;
  grid-template: minmax(auto, 350px) minmax(auto, 1fr) / 1fr;
  @media (max-width: 993px) {
    grid-template: minmax(auto, 100%) minmax(auto, 1fr) / 1fr;
  }
  &__top {
    padding: 75px 0 0 0;
    background: #202328;
    @media (max-width: 993px) {
      padding: 55px 0 55px 0;
    }
  }

  &__top-container {
  }

  &__top-body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0px 0px 95px;
    @media (max-width: 1100px) {
      margin: 0;
    }
    @media (max-width: 993px) {
      flex-direction: column;
    }
  }

  &__top-left {
    font-weight: 400;
    font-size: 14px;
    line-height: 170%;
    text-align: right;
    color: #ffffff;
    max-width: 420px;
    @media (max-width: 993px) {
      order: 2;
      text-align: center;
      max-width: none;
    }
  }

  &__top-border {
    border: 1px solid #969ba8;
    transform: rotate(90deg);
    margin: 0 45px;
    min-width: 120px;
    @media (max-width: 993px) {
      display: none;
    }
  }

  &__top-right {
    @media (max-width: 993px) {
      oder: 1;
    }
  }

  &__top-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #f88500;
    margin-bottom: 5px;
    @media (max-width: 993px) {
      text-align: center;
      margin-bottom: 10px;
    }
  }

  &__top-subtitle {
    font-weight: 800;
    font-size: 29px;
    line-height: 36px;
    color: #ffffff;
    @media (max-width: 993px) {
      text-align: center;
      margin-bottom: 20px;
    }
  }

  &__items-inner {
    background: #fafafa;
  }

  &__items-container {
  }

  &__items {
    display: grid;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 20px;
    position: relative;
    transform: translate(0%, -25%);
    @media (max-width: 993px) {
      grid-template: 1fr / repeat(2, 1fr);
      gap: 35px 20px;
      transform: translate(0%, 0%);
      margin: 50px 0;
    }
    @media (max-width: 768px) {
      grid-template: 1fr / repeat(1, 1fr);
    }
  }

  &__item {
    transition: all 0.3s ease 0s;
    border-bottom: 3px solid #e4e6e8;
    &:hover {
      border-bottom: 3px solid $orangeColor;
      transition: all 0.3s ease 0s;
    }
  }

  &__bottom {
    background: #fafafa;
    padding-bottom: 62px;
  }

  &__bottom-container {
  }

  &__bottom-body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__bottom-button {
  }
}

.item-works {
  &:hover &__title {
    text-decoration: underline;
    &::before {
      background: url(../img/page-main/works/dot-active.png) space;
      transition: all 0.3s ease 0s;
    }
  }
  &__info {
    padding: 30px;
    @media (max-width: 577px) {
      padding: 15px;
    }
  }

  &__image {
    position: relative;
    padding-bottom: 56%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__location {
    position: relative;
    font-weight: 700;
    font-size: 14px;
    line-height: 170%;
    color: #989da5;
    margin-bottom: 5px;
    padding-left: 22px;
    &::before {
      position: absolute;
      width: 12px;
      height: 16px;
      top: 1px;
      left: 0;
      content: "";
      background: url(../img/page-main/works/location.svg) no-repeat;
    }
  }

  &__title {
    position: relative;
    font-weight: 700;
    font-size: 20px;
    line-height: 125%;
    color: #333333;
    padding-left: 22px;
    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 4px;
      background: url(../img/page-main/works/dot-decor.png) space;
      display: block;
      width: 5px;
      min-height: 100%;
      transition: all 0.3s ease 0s;
      @media (max-width: 577px) {
      }
    }
  }
}
